::-webkit-scrollbar{
    width: 0;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Satoshi", sans-serif;
    box-sizing: border-box;
    color: whitesmoke;
}

body {
    background-color: rgb(10, 10, 10);
    height: 100%;
}

#top {
    width: 100%;
    font-size: 55px;
    display: flex;
    align-items: center;
}

#top p {
    color: rgb(255, 50, 0);
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(10, 10, 10);
    align-items: center;
    font-size: 30px;
    height: 50px;
    margin-bottom: 100px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
#searchInput{
    height: 40px;
    font-size: 35px;
    border-radius: 25px;
    padding:0 15px;
    background-color: black;
    border: none;
}
.hPart {
    transition: .5s;
}

.hPart:hover {
    transition: .5s;
    transform: scale(1.2);
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

#home {
    width: 1000px;
    /* background-color: rgb(50,50,50); */
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#slider {
    width: 900px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#imgD {
    width: 700px;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 25px;
}

#iC {
    /* background-color: gray; */
    width: 100px;
    height: 50px;
    border-radius: 15px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.D {
    height: 500px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 75px;
}

#dD {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.dot {
    width: 25px;
    height: 25px;
    background-color: whitesmoke;
    border-radius: 10px;
    transition: .5s;
}

.dot:hover {
    transition: .5s;
    background-color: rgb(150, 150, 150);
}

#iCp {
    background-color: rgba(150, 150, 150, 0.9);
    width: 75px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

#help {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 250px auto;
    font-size: 30px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}
#foot{
    margin-top: 100px;
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 325px;
}
#foot span{
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}
#footEnd{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;   
    height: 50px;
    background-color: rgb(30,30,30);
    align-items: center;
}
#toptext{
    margin: 0 auto 50px;
    font-size: 45px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#viewProducts{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
    margin: 0 auto;
}
.product{
    width: 75%;
    height: 200px;
    /* border: 1px solid whitesmoke; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 45px;
    margin: 50px 0;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}
input{
    border: none;
    background-color: black;
}
#sellDiv{
    width: 40%;
    background-color: rgba(20,20,20,0.9);
    border: 5px solid whitesmoke;
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30%;
    height: 900px;
}
#imgInput{
    width: 200px !important;
}
#sellForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    flex-direction: column;
    transform: scale(1.5);
}
#sellButton{
    background-color: rgb(0,100,0);
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#goBack{
    background-color: black;
    border: none;
}
#goBack:hover{
    cursor:pointer;
}